<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.xxlspringboot.mapper.LoginMapper">
    <insert id="addCaptcha">
        insert into book.sys_captcha (uuid, code,expire_time) VALUES (#{uuid},#{code},#{expire_time})
    </insert>
    <select id="queryByUuid" resultType="Captcha">
        select * from book.sys_captcha where uuid = #{uuid};
    </select>
    <delete id="removeById">
        delete from book.sys_captcha where uuid=#{uuid}
    </delete>
    <select id="queryByUserName" resultType="SysUserEntity">
        select * from book.sys_user where username = #{username};
    </select>
</mapper>