<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.xxlspringboot.mapper.UserMapper">
    <select id="queryUserList" resultType="User">
        select * from book.user
    </select>

    <select id="queryUserById" resultType="User" parameterType="int">
        select * from book.user where id = #{id};
    </select>

    <insert id="addUser">
        insert into book.user (name, id, sex) VALUES (#{name},#{id},#{sex})
    </insert>

    <delete id="deleteUserById">
        delete from book.user where id=#{id}
    </delete>
    <update id="editUser">
        UPDATE book.user set `NAME`=#{name},sex = #{sex} WHERE id = #{id};
    </update>

</mapper>